body {
    margin: 0;
    padding: 0
}

ul {
    list-style: none;
}


li,
.empty,
.emptyQueue {
    color: grey;
    height: 35px;
    background-color: whitesmoke;
    margin-top: 2px;
    border-radius: 3px;
    border: 0px;
    transition: 3s;

    padding: 0.75rem 0.25rem;
}

.full,
.fullQueue {
    height: 40px;
    background-color: gainsboro;
    color: black;
    display: flex;
    align-items: center;
    border: 0px;
    padding: 0.75rem 3.25rem;

}

img {
    display: none;
        transition: 3s;
        /* margin-left: -1000px; */

}

.yes {
    display: flex;
            transition: 3s;
            justify-content: center;
            align-items: center;
            padding-left:24vw;
            margin-left: 0px;

}